---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';

interface Props {
	title: string;
	description: string;
	image?: import('astro').ImageMetadata;
}
---

<!DOCTYPE html>
<html lang="sk">
	<head>
		<BaseHead {...Astro.props} />
	</head>
	<body>
		<Header />

		<main>
			<slot />
		</main>
	</body>
</html>
